/*定位专用*/
.left {
    float: left;
}

.right {
    float: right;
}

/*标题*/
#title {
    font-size: 22px;
}

/*编辑器*/
#editor {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none; /* 选中后不再高亮输入框 */
    font-size: 16.5px;
    border:solid 1px #bbb;
    width: 96%;
    height: 50px;
    padding: 10px;
    resize: none;
}

/*发送按钮*/
#send {
    margin-bottom: 10px;
}