{% extends "base.html" %}
{% load my_filters %}
{% load static %}

{% block title %}文档 - 法宝{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "myapp/css/document.css" %}" />
    <link rel="stylesheet" href="{% static "myapp/css/font-awesome.css" %}" />
{% endblock %}

{% block left_column %}

<h1>法宝 1.0 使用文档</h1>
<p class="label1">Fabo 1.0 Documentation</p>
<br />
<p class="logo">=￣ω￣=</p>
<br />
<br />
<div class="parts-wrapper">
<div class="left-part">
    <a href="#">
        <div class="extra-block">
            <h2>使用技巧</h2></a>
            <p class="label2">帮助你发挥法宝的能力</p>
        </div>
    </a>
    <br />
    <a href="#">
        <div class="extra-block">
            <h2>常见问题</h2></a>
            <p class="label2">基本可以解答你的问题</p>
        </div>
    </a>
    <br />
    <a href="#">
        <div class="extra-block">
            <h2>文档下载</h2></a>
            <p class="label2">部分文档支持下载</p>
        </div>
    </a>
</div>

<div class="right-part">
    <a href="#">
        <div class="extra-block">
            <h2>联系我们</h2></a>
            <p class="label2">你也可以直接和我联系</p>
        </div>
    </a>
    <br />
    <a href="">
        <div class="extra-block">
            <h2>关于法宝</h2></a>
            <p class="label2">且听我的来龙去脉</p>
        </div>
    </a>
    <br />
    <a href="#">
        <div class="extra-block">
            <h2>问题反馈</h2></a>
            <p class="label2">各种Bug请扔到这里</p>
        </div>
    </a>   
</div>

</div>







<!-- <p class="indent">就是一个查法条的小工具。目前只有网页版，如果用得人觉得有需要，以后可能会做一个手机APP。网站目前采用的是由<a class="aqua" href="http://www.pantone.com/pages/pantone/index.aspx" target="_blank">Pantone</a>确定的 2017 年时尚时尚最时尚的草木绿作为基调色，很养眼哦。</p>
<hr>
<p class="indent">使用方法：</p>
<ol>
    <li>在首页输入部门法进行搜索。</li>
    <li>在部门法页面输入阿拉伯数字定位法条。</li>
</ol>
<hr>
<p class="indent">厉害之处：</p>
<ol>
    <li>支持法条内部跳转。例如在合同法第二十六条第二款中：采用数据电文形式订立合同的，承诺到达的时间适用本法第十六条第二款的规定。你可能一看第十六条第二款就懵逼了。在这里你只需要去点击一下，就能看到这个规定的内容。</li>

</li>
    <li>直接用阿拉伯数字定位法条。比你先按 Ctrl + F 再汉字输入“第三百五十条”快很多。</li>
</ol>
<hr>
<p class="indent">愿你我在「法宝」度过快乐的时光。</p>
<p class="indent">如果你擅长或者熟悉「前端开发」、「MySQL数据库」、「Django框架」、或者「美工设计」，或者你觉得你是一个功力深厚的「法律达人」，欢迎你投递简历到下面的邮箱地址：</p>
<p class="right brand">ruxtain@foxmail.com</p>
<p class="right brand">句萌团队</p>
<p class="right">2017年2月23日 深圳 福田</p>
<br /> -->

{% endblock %}
{% block right_column %}

{% endblock %}